{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-4">
                        <img src="{{ url_for('static', filename='img/soap.png') }}" alt="logo"
                            class="img-fluid rounded-circle" width="200" height="200">
                    </div>
                    <a href="{{ url_for('login') }}" class="btn btn-success btn-lg btn-block">Login com SUAP</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
{% endblock %}